<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:p="http://www.springframework.org/schema/p"
       xmlns:util="http://www.springframework.org/schema/util"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd"
>
    <bean id="mbeanServer" class="org.springframework.jmx.support.MBeanServerFactoryBean"
          p:locateExistingServerIfPossible="true"/>

    <bean id="jmxAttributeSource" class="org.springframework.jmx.export.annotation.AnnotationJmxAttributeSource"/>

    <bean id="mBeanInfoAssembler" class="org.springframework.jmx.export.assembler.MetadataMBeanInfoAssembler"
          p:attributeSource-ref="jmxAttributeSource"/>

    <bean id="namingStrategy" class="org.springframework.jmx.export.naming.MetadataNamingStrategy"
          p:attributeSource-ref="jmxAttributeSource"/>

    <util:map id="mMeanMap">
        <entry key="userService" value-ref="userService"/>
        <entry key="growsariConfig" value-ref="growsariConfig"/>
    </util:map>

    <bean id="mBeanExporter" class="org.springframework.jmx.export.MBeanExporter" lazy-init="false"
          p:beans-ref="mMeanMap"
          p:server-ref="mbeanServer"
          p:assembler-ref="mBeanInfoAssembler"
          p:namingStrategy-ref="namingStrategy"/>

</beans>