/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/indigo-pink.css';

body {
  margin: 0;
  padding: 0;
  border:0;			/* This removes the border around the viewport in old versions of IE */
	width:100%;
	min-width:600px;    	/* Minimum width of layout - remove line if not required */
					/* The min-width property does not work in old versions of Internet Explorer */
	font-size:90%;
}

.mat-toolbar.mat-primary {
	background:#377ea6;
  color: #fff;
}
a {
	color:#369;
}
a:hover {
	color:#fff;
	background:#369;
	text-decoration:none;
}
h1, h2, h3 {
	margin:.8em 0 .2em 0;
	padding:0;
}
p {
	margin:.4em 0 .8em 0;
	padding:0;
}
img {
	margin:10px 0 5px;
}
#ads img {
	display:block;
	padding-top:10px;
}

/* Header styles */
#header {
	clear:both;
	float:left;
	width:100%;
}
/* #header {
	border-bottom:1px solid #000;
} */
#header p,
#header h1,
#header h2 {
	padding:.4em 15px 0 15px;
	margin:0;
}
#header ul {
	clear:left;
	float:left;
	width:100%;
	list-style:none;
	margin:10px 0 0 0;
	padding:0;
}
#header ul li {
	display:inline;
	list-style:none;
	margin:0;
	padding:0;
}
#header ul li a {
	display:block;
	float:left;
	margin:0 0 0 1px;
	padding:3px 10px;
	text-align:center;
	background:#da1b60;
	color:#000;
	text-decoration:none;
	position:relative;
	left:15px;
	line-height:1.3em;
}
#header ul li a:hover {
	background:#369;
	color:#fff;
}
#header ul li a.active,
#header ul li a.active:hover {
	color:#fff;
	background:#000;
	font-weight:bold;
}
#header ul li a span {
	display:block;
}
/* 'widths' sub menu */
#layoutdims {
	clear:both;
	background:#eee;
	border-top:4px solid #000;
	margin:0;
	padding:6px 15px !important;
	text-align:right;
}
/* column container */
.colmask {
	position:relative;	/* This fixes the IE7 overflow hidden bug */
	clear:both;
	float:left;
	width:100%;			/* width of whole page */
	overflow:hidden;		/* This chops off any overhanging divs */
}
/* common column settings */
.colright,
.colmid,
.colleft {
	float:left;
	width:100%;
	position:relative;
}
.col1,
.col2,
.col3 {
	float:left;
	position:relative;
	padding:0 0 1em 0;
	overflow:hidden;
}
/* 2 Column (left menu) settings */
.leftmenu {
	background:white;		/* right column background colour */
}
.leftmenu .colleft {
	right:75%;			/* right column width */
	background:white;	/* left column background colour */
}
.leftmenu .col1 {
	width:71%;			/* right column content width */
	left:102%;			/* 100% plus left column left padding */
}
.leftmenu .col2 {
	width:21%;			/* left column content width (column width minus left and right padding) */
	left:6%;			/* (right column left and right padding) plus (left column left padding) */
}
/* Footer styles */
#footer {
	position: fixed;
    bottom: 0;
    left: 0;
	clear:both;
	float:left;
	width:100%;
	margin-top: auto;
}
#footer p {
	position: absolute;
    bottom: 0;
    left: 0;
	padding:10px;
	margin:0;
}
.ng-valid[required], .ng-valid.required  {
	border-left: 5px solid #42A948; /* green */
}
  
.ng-invalid:not(form):not(.formGroup):not(.row):not(.btn-group)  {
	border-left: none; /* red */
}

.custom-progress .mat-progress-bar-fill::after {
    background-color: #181b24 !important;
}

.association {
	font-size: 20px;
	vertical-align: bottom;
}

legend {
	font-size: 20px;
	vertical-align: bottom;
}

p.header-description {
	font-size: 14px;
	font-style: italic;
	color: #696969;
	vertical-align: top;
}

p.action-instruction {
	font-size: 12px;
	font-style: italic;
	color: #377ea6;
	vertical-align: top;
}

.btn-dark,
.btn-dark:hover,
.btn-dark:active,
.btn-dark:visited,
.btn-dark:focus {
    background-color: #424242 !important;
    border-color: #424242 !important;
}

.example-fill-remaining-space {
	/* This fills the remaining space, by using flexbox. 
		 Every toolbar row uses a flexbox row layout. */
	flex: 1 1 auto;
}

#header-button-inline-span {
	display:flex;
}

#header-desc-button-inline-span {
	display:flex;
	margin-bottom: 1%;
}

.node-content-wrapper, .tree-children {
  position: relative;
}

.node-content-wrapper::before, .tree-children::after {
  content: "";
  position: absolute;
}

.node-content-wrapper::before {
  border-bottom: 1px solid lightgrey;
  border-left: 1px solid lightgrey;
  height: 28px;
  top: -17px;
  width: 20px;
  left: -28px;
}

.tree-node-level-1 > tree-node-wrapper > .node-wrapper > .node-content-wrapper::before {
  display: none;
}

.tree-node-leaf > .node-wrapper > .node-content-wrapper::before {
  width: 25px;
}

.tree-children::after {
  border-left: 1px solid lightgrey;
  height: 100%;
  top: -15px;
  left: -15px;
}

tree-node:last-child > .tree-node > .tree-children::after {
  border-left: none;
}

.toggle-children {
  z-index: 1;
}

/* TOASTR BUGFIX */
#toast-container > div {
  opacity: 1;
}
.toast {
  font-size: initial !important;
  border: initial !important;
  backdrop-filter: blur(0) !important;
}
.toast-success {
  background-color: #51A351 !important;
}
.toast-error {
  background-color: #BD362F !important;
}
.toast-info {
  background-color: #2F96B4 !important;
}
.toast-warning {
  background-color: #F89406 !important;
}

.break-word {
  word-wrap: break-word;
}

.mat-dialog-actions {
	justify-content: flex-end;
}

.fill-remaining-space {
    flex: 1 1 auto;
}

.table-toolbar {
	background-color:rgb(208, 223, 231); 
	height: 30px; 
	padding-left: 10px; 
	margin-bottom: 5px;
}

::-webkit-scrollbar {
	width: 12px;
	background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb {
	border-radius: 10px;
	box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #dcdcdc;
}

::-webkit-scrollbar-thumb:hover {
	background: #c1c1c1;
}

::-webkit-scrollbar-track {
	box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #F5F5F5;
}

.right-aligned-header > .mat-content {
    justify-content: space-between;
}

.mat-content > mat-panel-title, .mat-content > mat-panel-description {
  flex: 0 0 auto;
}